
body{
    margin: 0px;
    padding: 0px;
    background-color: #faf9f8;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

nav .logo #hinh{
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top:30px ;

    width: 200px;
    height: 48px;

    position: relative;
}

nav .nav-menu{
   text-align: center;
}

nav .nav-menu ul{
    

    display: inline-flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

nav .nav-menu ul li{
    margin-right:32px;
    margin-top: 25px;
}

nav .nav-menu ul li a{
    font-size: 20px;
    text-decoration: none;
    color: #222222;
}

nav .nav-menu ul li a:hover{
    text-decoration: underline;
}

nav .top-right ul{
    position: absolute;
    right: 0px;
    top: 0px;

    display: inline-flex;
    margin-right: 40px;

    list-style: none;
}

nav .top-right ul li{
    margin-right: 15px;
    margin-top: 15px;
}

nav .top-right ul li a{
    text-decoration: none;

    font-size: 14px;

    color: #222222;
}

nav .top-right ul li a:hover{
    text-decoration: underline;
}

nav .top-left ul{
    position: absolute;
    left: 0px;
    top: 0px;

    display: inline-flex;
    margin-left: 40px;

    list-style: none;
}

nav .top-left ul li{
    margin-right: 15px;
    margin-top: 15px;

}

nav .top-left ul li a{
    text-decoration: none;

    font-size: 14px;

    color: #222222;
}

nav .top-left ul li a:hover{
    text-decoration: underline;
}

main .url{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
    font-size: 12px;
    font-weight: bold;

    position: relative;
}

main aside{
    width: 15%;
    
    min-height: auto;
    min-width: 15%;
    float: left;

    position: relative;
}

main article{
    width: 85%;
    min-height: auto;
    min-width: 85%;
    float: right;

    position: relative;
}

main aside ul{
    list-style: none;
    font-size: 12px;
    text-align: left;
    
    margin-bottom: 35px;


}

main aside ul li{
    margin-bottom: 15px;
}

main aside ul li a{
    text-decoration: none;
    color: #222222;
}

#cap{
    font-size: 16px;
    font-weight: 600;
    color: #222222;

    margin-bottom: 5px;
}

main aside ul{
    list-style: none;
    font-size: 12px;
    text-align: left;
}

main aside ul li a:hover{
  text-decoration: underline red;
  color: red;

}

article .main-text{
    text-align: left;
    font-size: 40px;
    margin-top: 20px;
    font-weight: bold;

    letter-spacing: 0.5px;
    word-spacing: 5px;
}

article .LOCSP ul{
display: inline-flex;
list-style: none;

position: relative;
left: -2.8%;
}

article .LOCSP ul li{
   margin: 0px 10px 0px 10px;
    }


article .LOCSP ul li a{
    color: #222222;
    font-size: 16;
    text-decoration: none;
    font-weight: bold;
}

article .product {
    position: relative;
    float: left;
    margin-right: 5px;
    margin-bottom: 100px;
}

article .product .loai{
    color: rgb(63, 62, 62);
    font-size: 14px;
    font-weight: bold;
}

article .product .name-product a{
    text-decoration: none;
    color: #222222;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
}

article .product .name-product .color{
    display: inline-flex ;
    margin :0px 5px 0px 5px;
   }

article .product .name-product .color1{
 width: 10px;
 height: 10px;
 background-color: antiquewhite;
 border-radius: 50%;
 margin :0px 0px 0px 5px;
}



article .product .name-product .color2{
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    margin :0px 5px 0px 5px;
   }

   article .product .name-product .color3{
    width: 10px;
    height: 10px;
    background-color: rgb(211, 154, 154);
    border-radius: 50%;
    margin :0px 5px 0px 5px;
   }

   .photo{
       width: 100%;
       height: 100%;
   }

   footer{
    background-color: #e4e4e4;
    width: 100%;
    height: 500px;
    
    min-height: auto;
    min-width: 100%;
    float: left;

    position: relative;
}

footer .cuatiem ul{
    position: absolute;
    left: 23%;

    list-style: none;
}

footer .cuatiem ul li{
   margin-top: 20px;
}

footer .cuatiem ul #big{
    font-weight: bold;
    font-size: 20px;
 }

footer .cuatiem ul li a{
    text-decoration: none;
    color: rgb(63, 60, 60);
    font-size: 12px;
}


footer .cuatiem-2 ul{
    position: absolute;
    left: 35%;

    list-style: none;
}

footer .cuatiem-2 ul li{
   margin-top: 20px;
}

footer .cuatiem-2 ul #big{
    font-weight: bold;
 }

footer .cuatiem-2 ul li a{
    text-decoration: none;
    color: rgb(63, 60, 60);
}

footer .cuatiem-3 ul{
    position: absolute;
    left: 52%;

    list-style: none;
}

footer .cuatiem-3 ul li{
   margin-top: 20px;
}

footer .cuatiem-3 ul #big{
    font-weight: bold;
 }

footer .cuatiem-3 ul li a{
    text-decoration: none;
    color: rgb(63, 60, 60);
}

footer .cuatiem-4 ul{
    position: absolute;
    left: 66%;

    list-style: none;
}

footer .cuatiem-4 ul li{
   margin-top: 20px;
}

footer .cuatiem-4 ul #big{
    font-weight: bold;
 }

footer .cuatiem-4 ul li a{
    text-decoration: none;
    color: rgb(63, 60, 60);
}

#dangnhap{
    font-size: 16px;
}

#dangnhap :hover{
    color: red;
}
